<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Full name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime min="1990-01-01" max="2000-12-31" value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Weight</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" shape="round" [routerLink]="['/beranda']">Show MISSION</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>