<ion-content class="auth-form bg-image" padding='true'>
  
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <img src="../assets/logo-fix.png" class="smallLogo"/>

        <ion-button routerLink="/register" expand="block" shape="round" color="primary">Register</ion-button>
        
        <span class="divider line one-line">or</span>
        
        <span class="already">Already a user?</span>
        
        <ion-button [routerLink]="['/login']" expand="block" shape="round" color="light" fill="outline">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>